@model IEnumerable<GestaoRHWeb.Models.ItemSolicitacao>
@*List<Prontuario>*@

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    List<Prontuario> listaItem = ViewBag.ListarProntuarios;}
<br />
<br />
<br />

<fieldset>
    <legend>
        Solicitar Prontuários
        <a class="btn btn-primary" asp-action="RegistrarSolicitacao" asp-controller="Solicitacao">
            Registrar Solicitação
        </a>
    </legend>

    <div class="form-row">
        <div id="prontuarios" class="col-4">
            @foreach (Prontuario prontuarioCadastrado in listaItem)
            {
<div class="form-group col-md-6 solicitacao">
    <span><b>Matrícula: </b>@prontuarioCadastrado.Funcionario.Matricula</span><br />
    <span><b>Custódia: </b>@prontuarioCadastrado.Caixa.Custodia</span><br />


    @{ if (prontuarioCadastrado.Status == "Disponivel")
        {
<span style="color:lawngreen"><b style="color:white">Status: </b>@prontuarioCadastrado.Status</span> }
else
{
<span style="color:red"><b style="color:white">Status: </b>@prontuarioCadastrado.Status</span> } }


    <br />
    <a class="btn btn-primary" asp-action="AdicionarAoCarrinho"
       asp-controller="Solicitacao"
       asp-route-id="@prontuarioCadastrado.Id">
        Solicitar
    </a>
</div>}

        </div>
        <div class="form-group col-8">
            <table class="table table-hover table-striped table-bordered" id="tabelaTeste" style="text-align:center">
                <thead>
                    <tr class="table-info">
                        <th scope="row">#</th>
                        <th scope="col">Matrícula Vinculada</th>
                        <th scope="col">Custódia Vinculada</th>
                        <th scope="col">Criado em</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ItemSolicitacao itens in Model)
                    {
        <tr>
            <td>@itens.Id</td>
            <td>@itens.Matricula</td>
            <td>@itens.Custodia</td>
            <td>@itens.CriadoEm</td>
            <td><a asp-action="Remover" asp-controller="Solicitacao" class="btn btn-danger"> Remover</a></td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>

</fieldset>

<script>
    let tabelaTeste = document.getElementById('tabelaTeste');
    function cleanTable() {
        //alert("");
        var rowCount = tabelaTeste.rows.length; while (--rowCount) tabelaTeste.deleteRow(rowCount);

    }
</script>
