@model IEnumerable<GestaoRHWeb.Models.ItemSolicitacao>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ List<ItemSolicitacao> lista = ViewBag.Listar;}


<br />
<br />
<br />
<fieldset>
    <legend>Status de Solicitações</legend>

    <table class="table table-hover table-striped table-bordered" style="text-align:center">
        <thead>
            <tr class="table-info">
                <th scope="row">#</th>
                <th scope="col">Prontuario ID</th>
                <th scope="col">Matrícula Vinculada</th>
                <th scope="col">Custódia Vinculada</th>
                <th scope="col">Status</th>
                <th scope="col">Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ItemSolicitacao itens in lista)
            {
<tr>
    <td>@itens.Id</td>
    <td>@itens.Prontuario.Id</td>
    <td>@itens.Matricula</td>
    <td>@itens.Custodia</td>
    <td style="color:red">@itens.Prontuario.Status</td>
    <td>@itens.CriadoEm</td>
    <td><a asp-action="Remover" asp-controller="Status" asp-route-id="@itens.Id" class="btn btn-success">Concluir Solicitação</a></td>
</tr>}
        </tbody>
    </table>

</fieldset>
